// You can also omit the eslint-config- and it will be automatically assumed by ESLint:
{
    "extends": "opencollective",
    "rules": {
      "no-unused-vars": ["error", {
        "vars": "local",
        "args": "none",
      }],
    }
}
